.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: var(--warm-grey-75);
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
}
  