  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000;
  }
  
  .extraItem {
    margin-left: auto;
  }
  
  .line {
    width: 522px;
    height: 1px;
    background-color: var(--gainsboro);
    border: none;
  }
  