
.home {
    width: 100%;
    min-height: 100vh; /* Garantir que o container ocupe a altura da tela */
    display: flex;
    justify-content: center; /* Centralizar os painéis horizontalmente */
    align-items: flex-start; /* Centralizar os painéis verticalmente */
    gap: 30px; /* Espaçamento entre os painéis */
    padding: 30px; /* Espaço lateral para telas menores */
    background-color: #ededed;
    box-sizing: border-box;
}
  