
.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 50px;
    background-color: #ededed;
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .home {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
  